
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("body.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding:0;
    margin:0;
}



.main_header{
    margin: 20px 0 20px 0;
    display: flex;

}

.logo{
    background-color:#A239CA;
    padding: 10px 20px 10px 10px;
    border-radius:0 20px 20px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.logo a{
    text-decoration: none;
    color:white; 
}

.left_nav{
    position:absolute;
    right: 0;
    background-color:#0375B4;
    padding: 10px 10px 10px 20px;
    border-radius:20px 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.left_nav a{
    padding:10px;
    text-decoration: none;
    color:white;
}

.left_nav a:hover{
    color:#C0C0C0;
    border-radius:20px;
}

.left_social{
    
    text-align:right;
    padding:5px;
}
.left_social a{
    padding:5px;
}



.login{
    padding:20px;
    width:350px;
    margin-top:70px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.login input{
    border-radius: 20px;
    border:solid 1px #1266F1;
}

.login a{
    text-decoration: none;
}

.main_footer{
    text-align:center;
    position:fixed;
    bottom:0;
    width:100%;
    padding:5px;
}

.main_footer a{
    text-decoration:none;
}

