
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("body.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    padding:0;
    margin:0;
}



.main_header{
    margin: 10px 0 20px 0;
    display: flex;

}

.logo{
    background-color:#A239CA;
    padding: 10px 20px 10px 10px;
    border-radius:0 20px 20px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.logo a{
    text-decoration: none;
    color:white; 
}

.left_nav{
    position:absolute;
    right: 0;
    background-color:#0375B4;
    padding: 10px 10px 10px 20px;
    border-radius:20px 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.left_nav a{
    padding:10px;
    text-decoration: none;
    color:white;
}

.left_nav a:hover{
    color:#C0C0C0;
    border-radius:20px;
}

.left_social{
    
    text-align:right;
    margin-top:5px;
}
.left_social a{
    padding:5px;
    color:white;
}

.account{
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color:white;
    border: 1px solid #f1f1f17a;
}

hr{
    background-color:white;
}

.account a{
    text-decoration:none;
}


.register{
    margin-top:60px;
    padding:20px;
    width:350px;
    background-color: rgba(0, 0, 0, 0.7);
}

.login{
    margin-top:120px;
    padding:20px;
    width:350px;
    background-color: rgba(0, 0, 0, 0.7);
}

.account input{
    border-radius: 20px;
}

.account textarea{
    border-radius: 20px;
}



.main_footer{
    text-align:center;
    position:fixed;
    bottom:0;
    width:100%;
    padding:5px;
    color:white;
}

.main_footer a{
    text-decoration:none;
}

.account_btn a{
    text-align: right;
    margin-left:90px;
    margin-top:7px;
}


.about{
    margin-top:90px;
    border:none;
    
}

.contact{
    background-color: rgba(0, 0, 0, 0.7);
    width:350px;
    margin:auto;
    border: 1px solid #f1f1f17a;
    padding:10px;
    border-radius:20px;
    height:418px;
    margin-bottom: 50px;
}

.profile{
    text-align:center;
    background-color: rgba(0, 0, 0, 0.7);
    width:350px;
    margin:auto;
    padding:10px;
    border-radius:20px;
    border: 1px solid #f1f1f17a;
    height: 418px;
    margin-bottom: 50px;
}

.circle{
    border: 1px solid #f1f1f17a;
    background-color:black;
    height:150px;
    width:150px;
    border-radius:50%;
    margin:auto;
}

.otp{
    text-align:center;
}

.otp h1{
    font-size:60px;
}

.otp_text{
    display:flex;
}

.otp_text span{
    font-size:30px;
}

.otp_text input{
    margin:5px;
    width:50px;
    height:50px;
    border-radius: 40px;
    margin:auto;
    font-size: 30px;
    background-color: rgba(0, 0, 0,0);
    color:white;
    text-align:center;
}

